body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    width: 450px;
    padding: 8px;
}

#display {
    width: 420px;
    height: 135px;
    border: solid black 1px;
    margin: 8px;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border: solid black 1px;
    width: 90px;
    height: 90px;
} 

#equals {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border: solid black 1px;
    width: 200px;
    height: 90px;
}